table{
    margin-top:20px;
}
a{
    text-decoration: none;
    color: white;
}
.menutrai{
    display: inline-block;
    color: white;
    width: 200px;
    height: 100vh;
    background-color: rgb(31, 37, 56) ;
    box-shadow: 0px 0px 5px gray;
}
.menutrai>ul{
    padding-left: 0;
}
.menutrai>ul>li{
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: 1px solid rgb(26, 39, 87);
    list-style: none;
    height: 50px;
    font-size: 120%;
}
.menutrai>ul>li:hover{
    background-color: rgb(59, 65, 87);
}

.noidung{
    position: fixed;
    display: inline-block;
    background-color:rgb(228, 226, 224);
    width: calc(100vw - 200px);
    height: 100vh;
}
.thanhtren{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: gray 0px 0px 5px;
}
.nhap{
    display: inline-block   ;
    margin-left: 20px;
    margin-top: 10px;
}